{% extends 'base.html.twig' %} {% block title %}Connexion{% endblock %}{% block
stylesheets %}
<link rel="stylesheet" href="{{ asset('css/security/login.css') }}" />
{% endblock %} {% block body %}
<div class="login-container">
    {% if app.user %}
    <div class="mb-3">
        Vous êtes connecté en tant que {{ app.user.userIdentifier }},
        <a href="{{ path('app_logout') }}">se déconnecter</a>
    </div>
    {% else %}
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Veuillez-vous connecter</h1>
        <label for="inputEmail">Adresse e-mail</label>
        <input
            type="email"
            value="{{ last_username }}"
            name="email"
            id="inputEmail"
            class="form-control"
            autocomplete="email"
            required
            autofocus
        />
        <label for="inputPassword">Mot de passe</label>
        <div class="password-input">
            <input
                type="password"
                name="password"
                id="inputPassword"
                class="form-control"
                autocomplete="current-password"
                required
            />
            <span class="material-symbols-outlined"> visibility </span>
        </div>

        <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        />

        <div class="btn-container">
            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </div>
        {% endif %}
    </form>
</div>

<script>
    $(document).ready(() => {
        $(".password-input span").click(() => {
            if ($("#inputPassword").attr("type") == "password") {
                $("#inputPassword").attr("type", "text");
                $(".password-input span").text("visibility_off");
            } else {
                $("#inputPassword").attr("type", "password");
                $(".password-input span").text("visibility");
            }
        });
    });
</script>

{% endblock %}
