{% extends 'admin.base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin/gallery.css') }}">
{% endblock %}

{% block body %}
	<div
		class="gallery-admin-container">
		{# LIST OF EXISTING GALLERY AND ACTIONS #}

		<div class="gallery-table-container">
			<table class="galleries">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Image de couverture</th>
						<th>Nombre de photos</th>
						<th>Date de création</th>
						<th>Date de mise à jour</th>
					</tr>
				</thead>
				<tbody>
					{% for gallery in galleries %}
						<tr>
							<td>{{ gallery.name }}</td>
							<td>
								{{ gallery.backgroundPath}}
							</td>
							<td>{{ gallery.photos|length }}</td>
							<td>{{ gallery.createdAt|date('d/m/Y') }}</td>
							<td>{{ gallery.updatedAt|date('d/m/Y') }}</td>
							<td>
								{# <a href="{{ path('admin_gallery_edit', {'id': gallery.id}) }}" class="btn btn-primary">Modifier</a>
																																					                        <a href="{{ path('admin_gallery_delete', {'id': gallery.id}) }}" class="btn btn-danger">Supprimer</a> #}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>


</div>{% endblock %}
