{% extends 'admin.base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/gallery/create.css') }}" />
{% endblock %} {% block body %}
<div class="create-gallery-container">
    <div class="form-container">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <label>Image de couverture</label>
        <label for="{{ form.background.vars.id }}" class="required file-label"
            >Choississez un fichier</label
        >
        <div class="file-name"></div>
        {{ form_widget(form.background) }}
        {{ form_row(form.backgroundXOffset) }}
        {{ form_row(form.backgroundYOffset) }}
        <button type="submit" class="btn">Enregistrer</button>
        {{ form_end(form) }}
    </div>
    <div class="image-container">
        <img src="{{ asset('imgs/noimage.jpg') }}" class="image_preview" />
    </div>
</div>

<script>
    const imagePreview = document.querySelector(".image_preview");
    const input = document.querySelector("#gallery_background");
    const fileName = document.querySelector(".file-name");
    const xOffset = document.querySelector("#gallery_backgroundXOffset");
    const yOffset = document.querySelector("#gallery_backgroundYOffset");

    $(document).ready(function () {
        console.log(input.files);
    });

    input.addEventListener("change", () => {
        const file = input.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", () => {
            imagePreview.src = reader.result;
        });

        reader.readAsDataURL(file);
        fileName.innerHTML = file.name;
    });

    xOffset.addEventListener("change", () => {
        imagePreview.style.transform = "translateX(" + xOffset.value + "%) ";
    });
    yOffset.addEventListener("change", () => {
        imagePreview.style.transform = "translateY(" + yOffset.value + "%) ";
    });
</script>
{% endblock %}
