<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Richard GUILLEMIN (Admin)
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/admin.style.css') }}">
	</head>
	<body>
		<nav class="navbar-container">
			<ul>
				<li class="{{app.request.pathinfo == '/admin' ? "selected": ""}}">
					<a href="{{path('app_admin')}}">Tableau de bord</a>
				</li>
				<li class="{{app.request.pathinfo == '/admin/gallery' ? "selected": ""}}">
					<a href="{{path('app_admin_gallery')}}">Édition gallerie</a>
				</li>
				{# <li><a style="font-weight: {{app.request.pathinfo == '/contact' ? " bold": " inherit"}}" href="">Contact</a></li> #}
			</ul>
		</nav>
		<div class="content-container"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
